<%= link_to 'Accueil', root_path, data: { turbolinks: false } %>
    <% if member_signed_in? %>
      <%= link_to 'Mes posts', posts_path %>
      <%= link_to 'logout', destroy_member_session_path, method: "delete" %>
    <% else %>
      <%= link_to 'login', new_member_session_path %>
    <% end %>
    <hr />
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>